[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
black = "*"
tiktoken = "*"
openai = "*"
unstructured = "*"
nltk = "*"
fastapi = "*"
jinja2 = "*"
uvicorn = "*"
tqdm = "*"
isort = "*"
langchainhub = "*"
firecrawl-py = "*"
langchain-community = "*"
pinecone = "*"
pillow = "*"
langchain-openai = "*"
langchain-pinecone = "*"
langsmith = "*"
streamlit = "*"
streamlit-chat = "*"

[dev-packages]

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
